<div class="header">
    <h1>Add a New Student</h1>
    <p>Please fill in student information below.</p>
</div>

<form class="student-form">
    <mat-form-field class="input" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput [ngModel]="username">
    </mat-form-field>
    <mat-form-field class="input" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput [ngModel]="firstName">
    </mat-form-field>
    <mat-form-field class="input" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput [ngModel]="lastName">
    </mat-form-field>

    <div mat-dialog-actions>
        <button mat-button (click)="submit(username, firstName, lastName)">Submit</button>
        <button mat-button (click)="submit(username, firstName, lastName)">Test</button>
    </div>
</form>
