<div class="header">
    <h1>Add a New Student</h1>
    <p>Please fill in student information below.</p>
</div>

<form class="student-form">
    <mat-form-field class="input" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput #username>
    </mat-form-field>
    <mat-form-field class="input" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput #firstName>
    </mat-form-field>
    <mat-form-field class="input" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput #lastName>
    </mat-form-field>

    <div mat-dialog-actions>
        <button mat-button (click)="submit(username.value, firstName.value, lastName.value)">Submit</button>
    </div>
</form>
